<footer class="article__about wrap">
  <aside class="about__image">
    <img src="/images/avatar-kevingimbel.jpg" alt="Image of Kevin Gimbel">
  </aside>
  <section class="about__body">
    <p>Kevin Gimbel is a Developer working at <a href="https://synoa.de" title="Synoa GmbH">Synoa GmbH</a> interested in a variety of things such as Sci-Fi, Photography, Science, Music, and Programming. He believes that writing in third person sound really awkward and likes to play video games.<br>
    You can see random code and projects on <a href="https://github.com/kevingimbel" title="View projects by kevingimbel on GitHub.com">GitHub</a> or follow him on Twitter <a href="https://twitter.com/_kevinatari" title="See what's happening on twittr @_kevinatari">@_kevinatari</a>.<br>
    <small class="super-small">This was awkward to write. 🙃</small></p>
  </section>
</footer>
