<div id="settings" class="page-settings">
  <h2>Controls</h2>
  <p>Below you can configure how this website will appear.</p>
  <hr>
  <form method="dialog" id="settings-form">
    <label for="--color-accent-primary">Main accent color
      <input type="color" name="--color-accent-primary" value="#283593">
    </label><br>

    <label for="--color-accent-secondary">Secondary accent color
      <input type="color" name="--color-accent-secondary" value="#ffd740">
    </label><br>

    <hr>

    <button class="a11y__btn" id="settings-close">Close</button>
    <button class="a11y__btn" id="settings-clear">Reset Custom Styles</button>
    <button class="a11y__btn a11y__f-right a11y__btn-primary" type="submit">Save changes</button>
  </form>
</div>
