ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
  RewriteEngine On
	RewriteBase /

  # Rewrite alternative domain (kevingimbel.de) to kevingimbel.com
  RewriteCond %{HTTP_HOST} !kevingimbel.com$ [NC]
  RewriteRule ^(.*)$ https://kevingimbel.com/$1 [L,R=301]

  # Rewrite www to non-www
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

  # Rewrite all traffic to https
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteCond %{HTTPS} off
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
</IfModule>

<IfModule mod_expires.c>
  # turning the module on
  ExpiresActive on
  ExpiresDefault "access plus 48 hours"

  # images
  ExpiresByType image/jpg "access plus 1 months"
  ExpiresByType image/jpeg "access plus 1 months"
  ExpiresByType image/gif "access plus 1 months"
  ExpiresByType image/png "access plus 1 months"

  # CSS
  ExpiresByType text/javascript "access plus 1 months"
  ExpiresByType application/javascript "access plus 1 months"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/x-shockwave-flash
</IfModule>
