<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404 - Page not found</title>
</head>
<body>
  <h1>404 - Not found.</h1>
  <p>The requested page <span id="pageurl"></span> could not be found. Return <a href="/" title="Home">Home</a>.</p>
  <script type="text/javascript">
  (function(window, document, undefined) {
    var path = window.location.pathname;
    var out = document.getElementById('pageurl');
    out.innerText = path;
  }(window, document));
  </script>
</body>
</html>
