* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

html, body {
  font-size: 1rem;
  line-height: 1.65;
  // System fonts
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #333;
  background: #fff;
}

a {
  color: $color-accent--dark;
  text-decoration: none;
  border-bottom: .125rem solid currentColor;
    &:hover {
      color: $color-accent--secondary;
    }
}

a:focus {
  background: $color-accent--dark !important;
  color: #fff !important;
}

::selection {
  color: #fff;
  background: $color-accent--dark;
}

.is-hidden {
  display: none;
}

img {
  max-width: 100%;
}

h1, .h1 {
  font-size: 2.25rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.35rem;
}

h5, .h5 {
  font-size: 1.15rem;
}

h6, .h6 {
  font-size: 1rem;
}

ol {
  margin-left: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content {
  min-height: 60vh;
  padding: 2rem 0;

  img {
    margin: 1rem auto;
    display: block;
  }

  h2 {
    margin-top: 1.15rem;
  }
  h3 {
    margin-top: .5rem;
  }
  p + p {
    margin-top: 1rem;
  }
}

figure {
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 0;
  margin-right: 0;
  line-height: 0;
  position: relative;

    &:before,
    &:after {
      content: '';
      background: $color-accent;
      position: absolute;
      bottom: 0;
    }

    &:before {
      right: 0;
      height: 1px;
      width: 50%;
    }

    &:after {
      width: 1px;
      height: 50%;
      right: 50%;
    }
}

figure img {
  margin: 0 auto !important;
  display: block;
  position: relative;
  z-index: 2;
    &:hover {
      z-index: 3;
    }
}

figcaption {
  background: $color-accent;
  padding: .5rem;
  font-size: .75rem;
  color: #fff;
  font-weight: bold;
  text-align: right;
  position: absolute;
  bottom: -1.25rem;
  right: -1rem;
  z-index: 2;

    p {
      padding: 0 !important;
      line-height: 2;
    }
}

@media all and (max-width: 75rem) {
  figcaption {
    right: 0;
    text-align: left;
  }
}

.page-inner {
  padding: 2rem 0;
}

.page-body ul {
  margin: 0 0 1rem 2rem;
}

.inner, .wrap {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

    @media all and (max-width: 80rem) {
      max-width: 60rem;
    }
}

.inner {
  padding: 2rem 0;
}

.home-section {
  margin-bottom: 6rem;
}

.content {
  h1, h2, h3, h4, h5, h6, p {
    padding: 1rem 2rem;
    padding-top: 0;
  }

  table {
    margin-left: 2rem;
  }
}

.no-speak {
  speak: none;
}

.divider {
  margin: 1rem 0;
  background: #fff;
  border: none;
  height: 1px;
}

/**
 * Tables
 */

table {
  border-collapse: collapse;
}

thead {
  background: #f3f3f3;
  border-top: 1px solid #aaa;
  color: #000;
  text-align: left;
}

td, tr, th {
  padding: .5rem;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;

    &:last-of-type {
      border-right: 1px solid #aaa;
    }
}
