.site__footer {
  padding: 2rem 0;
}

.site__footer {
  padding: 1rem;
  text-align: center;
  margin-top: 4rem;
  background: #000;
  color: #fff;
  font-size: .75rem;

    a {
      color: $color-accent--secondary;
    }
}

.site__footer p {
    margin-bottom: .5rem;
}

@media all and (max-width: 60rem) {
  .site__footer {
    margin-top: 0;
  }
}
