.site__header {
  background: #0c1012;
  color: #fff;
  padding: 2rem;

    a {
      color: $color-accent;
    }
}

.site__header h1 {
  font-size: 2rem;
}

.site__header h2 {
  font-size: 1rem;
}


@media all and (min-width: 85rem) {
  .site__header {
    padding: 3rem 0;
  }

  .site__header h1 {
    font-size: 4rem;
  }

  .site__header h2 {
    font-size: 2rem;
    margin-left: .5rem;
  }
}
