{{ define "main" }}
  <section class="a11y-page-single" aria-labelledby="page-title" aria-describedby="page-desc">
    <header class="a11y-page-single__header">
      <h1 id="page-title" class="page__title">{{ .Title }}</h1>
      <hr>
    </header>
    <div class="a11y-page-single__content" id="page-desc">
      {{ .Content }}
    </div>
    <section class="image-list">
    {{ $resources := .Resources.ByType "image"}}
      {{ range $resources }}
        {{ with . }}
          <div class="image-list__single-image">
            <img style="max-width: 100%;" src="{{ .RelPermalink }}">
          </div>
        {{ end }}
      {{ end }}
    </section>
  </section>
{{ end }}
