{{ define "title" }}
  {{ .Title }} | {{ $.Site.Title }}
{{ end }}

{{ define "main" }}
  <section class="page wrap" aria-labeldyby="title" aria-describedby="desc">
    <header class="page-header">
      <h2 id="title">{{ .Title }}</h2>
    </header>
    <div class="page-body" id="desc">
      {{ .Content }}
    </div>

  {{ range (where .Site.Pages "Section" "post").GroupByDate "2006" }}
    <section id="{{ .Key }}">
      <h4 class="h1 featured__title">{{ .Key }}</h4>
      <div class="article__card-list">
        {{ range .Pages }}
          {{ .Render "card" }}
        {{ end }}
      </div>
    </section>
  {{ end }}

  </section>
{{ end }}
