.article-page {
  a {
    color: $color--article;
  }
}

.article__header {
  border-bottom: 1px solid #f1f1f1;
  color: $color-accent--dark;
  margin-top: -2rem;
}

.article__header a {
  color: $color-accent--dark;
}

.article__header p {
  padding: 0 2rem;
}

.article__content {
  margin-top: 1rem;
}

.article__content ul {
  padding-left: 2rem;
  padding-bottom: 1rem;
  list-style: none;
}

.article__content ul li {
  position: relative;
  &:before {
    content: '';
    background: blue;
    width: 10px;
    height: 10px;
    display: inline-block;
    line-height: 0;
    font-size: 0;
    margin-right: .65rem;
    border-radius: 50%;
    position: absolute;
    top: .5rem;
    left: -1rem;
  }
}

.article__footer {
  padding: 2rem;
}

.article-home {
  margin-bottom: 2rem;
}

.article-home__body {
  word-break: break-word;
}

.article-list__divider {
  border-top: .5rem solid $color--article;
  margin-top: 4rem;
}

.article__card-list {
  display: flex;
  flex-wrap: wrap;
}

.article__card {
  margin: 1rem;
  width: calc(50% - 2rem);
}

.article__card .h2, .article__card p {
    padding: 0 1rem;
}

@media all and (max-width: 60rem) {
  .article__card {
    width: 100%;
  }
}


/**
 * Featured Articles
 */

.article-featured {
  width: 110%;
  margin-left: -5%;
  background: blue;
  padding: 2rem;
  color: #fff;

    a {
      color: #fff;
    }
}

.featured__title {
  position: relative;
  bottom: -1rem;
  left: -4rem;
  background: deeppink;
  color: #fff;
  line-height: 2rem;
  padding: 0 2rem !important;
}

.featured__project {
  padding: 2rem;
}


@media all and (max-width: 60rem) {
  .featured__title {
    left: 0;
  }

  .article-featured {
    width: 100%;
    margin-left: 0;
  }

  .home-section {
    margin-bottom: 3rem;
  }

  .featured__project,
  .article-featured  {
    padding: 2rem 0;
  }

  .title {
    font-size: 1.5rem;
  }
}
