.article-page {
  a {
    color: $color--article;
  }
}

.article__header {
  background: $color--article;
  color: $color-accent--dark;
  margin-top: -2rem;
}

.article__header a {
  color: $color-accent--dark;
}

.article__content {
  margin-top: 1rem;
}

.article__footer {
  padding: 1rem 0;
}

.article-home {
  margin-bottom: 2rem;
}

.article-home__body {
  word-break: break-word;
}

.article-list__divider {
  border-top: .5rem solid $color--article;
  margin-top: 4rem;
}

.article__card-list {
  display: flex;
  flex-wrap: wrap;
}

.article__card {
  margin: 1rem;
  background: #f1f1f1;
  border: 1px solid #aaa;
  width: calc(50% - 2rem);
  padding: 1rem;
}

@media all and (max-width: 60rem) {
  .article__card {
    width: 100%;
  }
}
