pre, code {
  font-family: 'Source Code Pro', Courier New, monospace;
}
pre {
  background: #f1f1f1;
  border: 1px solid #ddd;
  padding: .75rem;
  margin: .75rem 0;
  overflow: auto;
}

code {
  background: #f1f1f1;
  padding: .25rem;
  border-radius: 3px;
  margin: .25rem 0;
  color: #333;
  word-wrap: break-word;
}
