.list {
  list-style: none;
  padding: 1.5rem 0rem;
}

.list__item {
  margin-bottom: 1.5rem;
}

.list-heading {
  font-size: 1.4rem;
  color: #333;
}

.list__flex {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list__flex li {
  display: block;
}

@media all and (min-width: 60rem) {
  .list__flex {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
