.list {
  list-style: none;
  padding: 1.5rem 0rem;
}

.list__item {
  margin-bottom: 1.5rem;
}

.list-heading {
  font-size: 1.4rem;
  color: #333;
}

.list__flex {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list__flex li {
  display: block;
}

@media all and (min-width: 60rem) {
  .list__flex {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.tag-list li {
  display: block;
  min-width: 150px;
  background: #eee;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.tag-list__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: .5rem;
}

@media all and (max-width: 60rem) {
  .tag-list {
    justify-content: center;
  }
}
