.navigation {
  list-style: none;

  li {
    margin-right: 1rem;
    padding: .25rem;
  }
}

@media all and (max-width: 30rem) {
  .navigation {
    margin-top: 1rem;
  }
  
  .navigation li {
    width: 50%;
    text-align: center;
    margin: 0;
  }
}
