<button id="nav-mobile-trigger" class="a11y__btn a11y__btn--medium nav__trigger">MENU</button>
<nav role="navigation" id="navigation" aria-label="Main Navigation" class="a11y-nav-main__wrap">
  <ul class="a11y-nav-main">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="a11y-nav-main__nav-item {{if $currentPage.IsMenuCurrent "main" . }} active{{end}}">
      <a href="{{ .URL }}" title="Go to {{ .Name }}">
        <span aria-hidden class="a11y-nav-main__nav-item__icon">{{ .Pre }}</span><!--
      --><span class="a11y-nav-main__nav-item__label">{{ .Name }}</span>
      </a>
    </li>
    {{end}}
  </ul>
</nav>
